<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Сhange ProductCode for creating major upgrade! -->
	<?if $(var.Configuration)=2020 ?>
	<?define ProductCode = "{E8BEB95F-94A9-42C5-A7EB-71802004B37D}"?>
	<?endif?>
	<?if $(var.Configuration)=2021 ?>
	<?define ProductCode = "{D3B1AC86-2F47-4BC0-858F-0D81D72D27AB}"?>
	<?endif?>
	<?if $(var.Configuration)=2022 ?>
	<?define ProductCode = "{28A90192-0F89-4FCE-B5D0-C8CB9D261AF3}"?>
	<?endif?>

	<!-- Do not change! Must be the same in all versions -->
	<?define UpgradeCode = "{CF89CF6A-6474-4251-8FD9-A1639E196B41}"?>

	<!-- Some info -->
	<?define Company = "BIM Leaders"?>
	<?define Description = "Revit Addin"?>
	<?define Keywords = "revit, addin, plugin"?>
	<?define Comments = "Developed in 2022 to make work easy"?>
	
	<Product Id="$(var.ProductCode)"
			 Name="BIM Leaders Addin"
			 Language="1033"
			 Version="$(var.BuildVersion)"
			 Manufacturer="$(var.Company)"
			 UpgradeCode="$(var.UpgradeCode)">
		
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Manufacturer="$(var.Company)"
				 Description="$(var.Description)"
				 Keywords="$(var.Keywords)"
				 Comments="$(var.Comments)"
				 />

		<MajorUpgrade DowngradeErrorMessage="A newer version of BIM Leaders Add-in is already installed." />
		
		<!-- Included files inside of the installer -->
		<MediaTemplate
			EmbedCab="yes"
			/>

		<!-- Icon of the installer -->
		<Icon Id="icon.ico" SourceFile="$(var.BIM Leaders Resources.ProjectDir)\BIM_Leaders.ico" />

		<Property Id="ARPPRODUCTICON">icon.ico</Property>
		<Property Id="ARPURLINFOABOUT">http://www.google.com</Property>
		
		<!-- Basic UI -->
		<UIRef Id="WixUI_Minimal" />
		<!-- Left image -->
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
		<!-- Banner image -->
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />
		<!-- Agreement -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\Agreement.rtf" />

		<!-- Registry entries, shortcuts, logs, etc. -->
		<Feature Id="ProductFeature" Title="BIM Leaders Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		
	</Product>
	
</Wix>
